node_modules
dist
.idea/
.tmp/
mapper-tool/tests/data/simple-combined/results/globalReducers.js
mapper-tool/tests/data/simple-combined/results/reducerMap.js
mapper-tool/tests/data/simple-separated/results/globalReducers.js
mapper-tool/tests/data/simple-separated/results/reducerMap.js
mapper-tool/tests/data/complex-separated/results/globalReducers.js
mapper-tool/tests/data/complex-separated/results/reducerMap.js